## Defining Variables

In [1]:
new_variable = 4

In [2]:
print(new_variable)

4

In [3]:
different_variable = "I'm a different variable!"

In [4]:
print(different_variable)

I'm a different variable!

In [5]:
2*2

4

In [6]:
2*2 == 4

True

In [7]:
wrong_variable == 4

NameError: name 'wrong_variable' is not defined

In [8]:
new_variable == 4

True

Can use: 
- upper and lower case letters (A-Za-z)
- digits (0-9)
- underscores (_)

Cannot use:
- any other punctuation (-.,!? etc.)
- spaces ( )
- reserved words

## Data Types

Checking the data type of a variable using type()

In [9]:
type(new_variable)

int

In [10]:
type(different_variable)

str

Variable Types
- Text types (str)
- Numeric types (int, float)
- Sequence types (lists, tuples)
- Map types (dict)
- Set types (set)
- Boolean types (bool)

## Strings

In [17]:
type('this is a string!')

str

In [18]:
"She shouted, 'this is a string!'"

"She shouted, 'this is a string!'"

## String Methods

In [19]:
text_snippet = "It was the best of times, it was the worst of times"

In [20]:
type (text_snippet)

str

__Index__

In [23]:
text_snippet[0]

'I'

In [24]:
text_snippet[1]

't'

__Slice__

In [26]:
text_snippet[0:10]

'It was the'

In [27]:
text_snippet[:10]

'It was the'

__Adding (concatenating)__

In [28]:
print(text_snippet + ", it was an age of wisdom, it was an age of follishness")

'It was the best of times, it was the worst of times, it was an age of wisdom, it was an age of follishness'

In [31]:
text_snippet2 = ", it was an age of wisdom, it was an age of follishness"

In [32]:
print(text_snippet + text_snippet2)

It was the best of times, it was the worst of times, it was an age of wisdom, it was an age of follishness

In [33]:
text_snippet * 4

'It was the best of times, it was the worst of timesIt was the best of times, it was the worst of timesIt was the best of times, it was the worst of timesIt was the best of times, it was the worst of times'

__Upper and lower__

In [35]:
text_snippet

'It was the best of times, it was the worst of times'

In [34]:
text_snippet.lower()

'it was the best of times, it was the worst of times'

In [36]:
text_snippet.upper()

'IT WAS THE BEST OF TIMES, IT WAS THE WORST OF TIMES'

__F strings__

In [37]:
print(f"A Tale of Two Cities begins like this: {text_snippet}")

A Tale of Two Cities begins like this: It was the best of times, it was the worst of times

In [38]:
novel_information = "A Tale of Two Cities begins like this: "

In [39]:
print(novel_information + text_snippet)

A Tale of Two Cities begins like this: It was the best of times, it was the worst of times

## Numeric Types

In [40]:
type(42)

int

In [42]:
type(42.5)

float

In [43]:
variable1 = 4
variable2 = 2

In [44]:
variable1 * variable2

8

Exponent (4^2):

In [46]:
variable1 ** variable2

16

In [47]:
42 / 10

4.2

^This is a float

In [48]:
42 // 10

4

^This is an integer

In [49]:
float(42)

42.0

In [50]:
int(42.5)

42

## List

In [52]:
author1_name = "Charles Dickens"
author2_name = "James Joyce"

__Creating a list of the author names__

In [53]:
[author1_name, author2_name]

['Charles Dickens', 'James Joyce']

In [54]:
names = [author1_name, author2_name]

In [55]:
names

['Charles Dickens', 'James Joyce']

In [56]:
type(names)

list

__Indexing and slicing__

Indexing:

In [57]:
names[0]

'Charles Dickens'

In [58]:
names[1]

'James Joyce'

Slicing:

In [59]:
names[0:2]

['Charles Dickens', 'James Joyce']

__Appending, removing, sorting__

In [60]:
names

['Charles Dickens', 'James Joyce']

Appending:

In [61]:
names.append("Virginia Woolf")

In [62]:
names

['Charles Dickens', 'James Joyce', 'Virginia Woolf']

Removing:

In [63]:
names.remove("James Joyce")

In [64]:
names

['Charles Dickens', 'Virginia Woolf']

Lists can consist of different data types:

In [67]:
test_list = ["Charles Dickens", "Virgina Woolf", 42, 42.5]

In [68]:
test_list[0:4]

['Charles Dickens', 'Virgina Woolf', 42, 42.5]

In [69]:
type(test_list[3])

float

__For loops__

In [71]:
names.append("James Joyce")

In [72]:
names

['Charles Dickens', 'Virginia Woolf', 'James Joyce']

Creating a for loop that goes through each entry and prints each entry in the list:

In [73]:
for name in names:
    print(name)

Charles Dickens
Virginia Woolf
James Joyce

_For every name in the list called 'names', print the name_

_for single_item in list:_

_for apple in bag_of_apples:_

_for elephant in group_of_elephants:_

In [78]:
for name in names:
    print(f"{name} is {len(name)} characters in length (including spaces).")

Charles Dickens is 15 characters in length (including spaces).
Virginia Woolf is 14 characters in length (including spaces).
James Joyce is 11 characters in length (including spaces).

## Conditionals

In [79]:
dickens = "Charles Dickens"

In [80]:
if dickens  == "Charles Dickens":
    print("What the Dickens!")

What the Dickens!

In [83]:
if dickens  == "James Joyce":
    print("What the Dickens!")
else:
    print("This is the second condition")

This is the second condition

__Combining for loop and conditional statement__

In [89]:
for name in names:
    if name == "Charles Dickens":
        print(f"{name} is correct")
    else:
        print(f"{name} is not correct")

Charles Dickens is correct
Virginia Woolf is not correct
James Joyce is not correct

Adding another condition with elif:

In [92]:
for name in names:
    if name == "Charles Dickens":
        print(f"{name} is correct")
        print(4*2)
    elif name == "Virginia Woolf":
            print(f"{name} is also correct")
    else:
        print(f"{name} is not correct")

Charles Dickens is correct
8
Virginia Woolf is also correct
James Joyce is not correct

## Reading Files

Importing the module _os_ that enables you to read files

In [93]:
import os

In [95]:
filepath = "../data/test-files/dickens_intro.txt"

^The problem with this way of specifying a filepath is that it won't necessarily work for someone else. This means that you will experience problems when sharing your code.

This is a better way of specifying a filepath. This enables you to transfer your code across different environments:

In [108]:
filepath = os.path.join("..", "data", "test_files", "dickens_intro.txt")

In [109]:
filepath

'../data/test_files/dickens_intro.txt'

In [110]:
with open(filepath, "r", encoding = "utf-8") as file:
    loaded_text = file.read()

r means "read" and tells Python to read the file <br>
w means "write" <br>
_with_ is a context manager

In [111]:
loaded_text

'It was the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of Light, it was the season of Darkness, it was the spring of hope, it was the winter of despair, we had everything before us, we had nothing before us, we were all going direct to Heaven, we were all going direct the other way â€“ in short, the period was so far like the present period, that some of its noisiest authorities insisted on its being received, for good or for evil, in the superlative degree of comparison only.'

In [112]:
type(loaded_text)

str

Loading more than one file (iteration). This is done by using the module _pathlib_

In [113]:
from pathlib import Path

In [114]:
data_path = os.path.join("..", "data", "test_files")

In [116]:
for filename in Path(data_path).glob("*.txt"):
    print(filename)

../data/test_files/dickens_intro.txt
../data/test_files/ulysses_intro.txt

^glob is a module that we use when we want to find all files that contain something specific - in our case this is the ending .txt

Now we open the files that end with .txt:

In [120]:
for filename in Path(data_path).glob("*.txt"):
    with open (filename, "r", encoding = "utf-8") as file:
        loaded_text = file.read()
        print(f"{filename} is {len(loaded_text)} characters.")
        # Split on whitespace
        split_text = loaded_text.split()
        print(f"{filename} is {len(split_text)} tokens.")

../data/test_files/dickens_intro.txt is 613 characters.
../data/test_files/dickens_intro.txt is 120 tokens.
../data/test_files/ulysses_intro.txt is 121 characters.
../data/test_files/ulysses_intro.txt is 22 tokens.

## Write Files

In [121]:
test_output = "This is the file I'd like to save."

In [122]:
outpath = os.path.join("..", "data", "test_files", "test_output.txt")

In [125]:
with open(outpath, "w", encoding = "utf-8") as file:
    file.write(test_output)

Again, we are using the context manager to define the file we wish to write.